<!DOCTYPE html>
<html>
  <head>
    <title>Minha Floricultura</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: grey;">
    <h1>Minha Floricultura</h1>
    <p>Para contatos clique no telefone abaixo que ele te direcionara para o Whats</p>
    <a target="_blank" href=" https://api.whatsapp.com/send?phone=5511964235429&text=">11964235429</a>
  </body>
</html>
